* {
  box-sizing:border-box; }

body {
  background-color: rgb(255, 97, 56); }

header, footer {
  font-family: 'Pacifico', cursive;
  color: rgb(255, 255, 157);
  text-align: center;}

header {
  font-size: 400%;}

footer {
  font-size: 150%; }

a:hover {
  color: white; }

img:hover {
  border: 10px solid pink; }

img:active {
  border: 10px solid red; }

a {
  text-decoration: none;
  color: rgb(190, 235, 159) }

img {
  border-radius: 10px; }

.loser {
  display: none;
}
